<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EXILED" version="8.3.4" targetFramework="net48" />
  <package id="ExMod.Exiled" version="8.14.1" targetFramework="net48" />
  <package id="Lib.Harmony" version="2.2.2" targetFramework="net48" />
  <package id="RueI" version="2.1.0" targetFramework="net48" />
</packages>